* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/* Login and registration page */
.form-control:focus {
	text-decoration: none;
	border-color: none !important;
	box-shadow: none !important;
}

.form-control {
	height: 50px;
}

.cust-btn {
	background-color: #006fff;
	color: whitesmoke;
	border: none;
	transition: 0.4s;
}

.cust-btn:hover {
	background-color: #0058cc;
	border: none;
	text-decoration: none;
}

.reg-link {
	text-decoration: none;
	color: #006fff;
	transition: 0.4s;
}

.reg-link:hover {
	text-decoration: none;
	color: #0058cc;
}

/* babymoon text */
.baby-txt {
	color: #ff85a3;
}

.moon-txt {
	color: #0058cc;
}

/* Invoice page */

#cust-card-b1,
#cust-card-b2 {
	border: none;
	box-shadow: 0 5px 10px #b1b1b1;
}

#card-h {
	border-bottom: none;
	background: #f3f3f3;
}

#card-name {
	border-bottom: 2px solid #e7e6e6;
}

#date-card {
	border-right: 1px solid #b1b1b1;
}

#card-room {
	border-top: 2px solid #e7e6e6;
}

div .paymentMethod {
	background: #f3f3f3;
}

.pay-btn {
	background: #006fff;
	color: #fff;
	transition: 0.4s;
}

.pay-btn:hover {
	background: #0058cc;
	color: #fff;
}

#cancel-btn {
	background: #fff;
	color: #ff85a3;
	transition: 0.4s;
	cursor: pointer;
}

#cancel-btn:hover {
	background: #f3f3f3;
	color: #ff85a3;
	cursor: pointer;
}

.virtualAcc {
	border: none;
}
